@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&family=Roboto:wght@400;700&display=swap');

// Sass Variables
$loadingSize: clamp(250px, 80vw, 400px);
$loadingBGColors: #ee7752, #e73c7e, #23a6d5, #23d5ab;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: white;
    transition: opacity .2s;
}
a:hover {
    opacity: .6;
}

html {
    font-family: 'Roboto', sans-serif;
    user-select: none;
    background-color: rgb(104, 104, 104);
}
.btn {
    background-color: magenta;
    padding: 1em;
    border-radius: 1em;
}

// PreLoader
#preLoader {
    position: fixed;
    z-index: 100000000000;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, $loadingBGColors);
    background-size: 400% 400%;
    animation: preLoaderBG 15s ease infinite;
    color: white;
    transition: transform 1s;
    display: none;

    #loadingCircle {
        position: relative;
        width: $loadingSize;
        height: $loadingSize;
        transition: transform 1s;
    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
        text-align: center;

        .name {
            font-size: 4em;
            font-weight: bold;
        }
        .text {
            animation: loading 2.4s linear infinite;
        }
        @keyframes loading {
            0%, 100% {opacity: 1;}
            50% {opacity: 0;}
        }
    }
    .loader {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: linear-gradient($loadingBGColors);
        animation: animate 2.4s linear infinite;
        }

        @keyframes animate {
            0% {
                transform: rotate(0deg) scale(1);
            }
            50% {
                transform: rotate(180deg) scale(.95);
            }
            100% {
                transform: rotate(360deg) scale(1);
            }
        }

        span {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: linear-gradient($loadingBGColors);
        }
        
        span:nth-child(1) {
            filter: blur(5px);
        }
        
        span:nth-child(2) {
            filter: blur(10px);
        }
        
        span:nth-child(3) {
            filter: blur(25px);
        }
        
        span:nth-child(4) {
            filter: blur(50px);
        }
    }
    .loader:after {
        content: '';
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        background: #f1f1f1;
        border-radius: 50%;
    }

    #boot {
        position: absolute;
        transform: translateY(300%);
        transition: transform 1s;
        background-color: white;
        height: 400px;
        width: $loadingSize;
        border-radius: 2em;
        color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 1em;
        padding: 1em;
    }
    
    .poweredby {
        position: fixed;
        bottom: 10vh;
        left: 50%;
        transform: translateX(-50%);

        img {
            width: 130px;
        }
    }
}

// DESKTOP
nav {
    position: fixed;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1em;
}
.statusbar {
    justify-content: space-between;
    top: 0;
    height: 40px;
    background-color: rgba(44, 44, 44, .8);
    color: white;
}
.icon {
    width: 80px;
    height: 80px;
    background-color: #23d5ab;
    padding: .5em;
    border-radius: 50%;
    border: 4px solid white;
    transition: scale 0.5s;
    box-shadow: 0 0 5px #202020a3 inset;
}
.icon:hover {
    scale: 1.2;
}
.menubar {
    justify-content: center;
    column-gap: .5em;
    font-size: 2em;
    color: #ee7752;
    bottom: 0;
    padding: .3em;
}

@keyframes preLoaderBG {
	0%, 100% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
}